MULTICODE_POSTGRES_USER=multicode
MULTICODE_POSTGRES_PASSWORD=replace-with-a-long-random-password
MULTICODE_POSTGRES_DB=multicode
MULTICODE_MAX_ROOMS=100
MULTICODE_ROOMS_PER_IP=5
MULTICODE_MAX_PARTICIPANTS_PER_ROOM=32
TZ=America/New_York
